body {
    margin: 0;
    padding: 0;
}

.notice{
    background-color: rgb(62, 119, 167);
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
}
#bulb{
    height: 300px;
    width: 300px;
    border: 4px solid black;
    border-radius: 60%;
    background-color: rgb(255, 251, 0);
}

button{
    height: 4vh;
    width: 8vw;
    margin: 2px 4px;
    padding: 2px;
    border: 1px;
    border-radius: 20%;
    background-color: black;
    color: aliceblue;
    
}